<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      href="{{ '/css/bootstrap.min.css' | url }}"
      rel="stylesheet"
    />

    <title>{{ title }}</title>
  </head>
  <body>
    <div class="container mt-5">
      {{ content | safe }}
    </div>
  </body>
</html>
